#gameover-overlay {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
}

#leaderboard-container {
	display: none;
}

table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	width: 30vw;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* add space between table cells */
#leaderboard thead tr,
#game-stat th {
	background-color: #19bdd3;
	color: #ffffff;
	text-align: left;
}

#game-stat tr:nth-of-type(even) th {
	background-color: #059baf;
}

th,
td {
	padding: 1vh 15px;
}

/* 	Add bottom border to each rom for separation
	Add lighter background every second row
	Add dark border to last row */
#leaderboard tbody tr,
#game-stat td {
	background-color: #dddddd;
}

#leaderboard tbody tr:nth-of-type(even),
#game-stat tr:nth-of-type(even) td {
	background-color: #f3f3f3;
}

tr:last-of-type {
	border-bottom: 2px solid #012c41;
}

/* Make active row look different */
tbody tr:hover {
	font-weight: bold;
	color: #eb7633;
}
