/* canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1000;
	height: 600;
	background: url("./img/game-background.png");
	background-size: cover;
	display: block;
} */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

#changeColor {
	display: none;
}

#select-color-screen {
	display: none;
}

.btn-group button {
	border: 1px solid green; /* Green border */
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#red {
	background-color: red; /* Green background */
}

#green {
	background-color: green; /* Green background */
}

#blue {
	background-color: blue; /* Green background */
}

#yellow {
	background-color: yellow; /* Green background */
}

#counter {
	position: absolute;
	left: 150px;
	top: 35px;
	font-family: "Press Start 2P", sans-serif;
	font-size: 130%;
	fill: white;
	stroke: black;
	stroke-width: 1px;
}

#uno-button-container {
	visibility: hidden;
	position: absolute;
	left: 75px;
	top: 200px;
}

.uno-button {
	transform: rotate(-30deg);
}

.uno-button text {
	font-size: 60px;
	font-family: "Bungee Shade", cursive;
}

#affirm-uno-button {
	fill: red;
}

#deny-uno-button {
	fill: black;
}

#affirm-uno-button text {
	fill: yellow;
}

#deny-uno-button text {
	fill: white;
}
