/* canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1000;
	height: 600;
	background: url("./img/game-background.png");
	background-size: cover;
	display: block;
} */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.coin {
	position: absolute;
	left: 350px;
	top: 310px;
	height: 58px;
	width: 58px;
	background: url("../img/coin-sprite.png");
	background-size: 680%;
	animation: sprite 1s steps(6) infinite;
}

#coin2 {
	left: 526px;
}

@keyframes sprite {
	from {
		background-position: 0px;
	}
	to {
		background-position: 1184px;
	}
}

#draw-card-button-container {
	position: absolute;
	top: 700px;
	left: 50%;
}

#draw-card-button {
	display: none;
	cursor: pointer;
}

#draw-card-button text {
	font-family: "Press Start 2P", sans-serif;
	fill: #fcb414;
	stroke: black;
	font-weight: bolder;
	stroke-width: 1px;
	font-size: 20px;
}

#counter {
	position: absolute;
	left: 150px;
	top: 35px;
	font-family: "Press Start 2P", sans-serif;
	font-size: 150%;
	fill: white;
	stroke: black;
	stroke-width: 2px;
}

#uno-button-overlay {
	background: #000000e6;
	visibility: hidden;
}

#uno-button-container {
	position: absolute;
	left: 17%;
	top: 240px;
}

.uno-button {
	visibility: hidden;
	transform: rotate(-30deg);
	cursor: pointer;
}

.uno-button text {
	font-size: 60px;
	font-family: "Press Start 2P", sans-serif;
}

#affirm-uno-button {
	fill: #c41e1e;
}

#deny-uno-button {
	fill: black;
}

#affirm-uno-button text {
	stroke-width: 2px;
	stroke: black;
	fill: #fcb414;
}

#deny-uno-button text {
	font-size: 50px;
	fill: white;
}

#select-color-overlay {
	background: #000000e6;
	display: none;
}

#color-button-container {
	position: absolute;
	left: 75px;
	top: 200px;
}

.select-color-button {
	cursor: pointer;
}
