#wait-screen {
	background-color: rgb(69, 156, 228);
}

#wait-screen ul {
	font-size: 1vw;
	font-weight: bold;
	font-family: "Hubballi", cursive;
	color: black;
}

#wait-message {
	display: none;
}

#match-button {
	display: none;
	font-weight: bold;
	font-family: "Hubballi", cursive;
	font-size: medium;
	border: 1px solid white;
	height: 4vw;
	width: 10vw;
	color: black;
	background: #fbe5c8;
	padding: 0 0;
	transition: 1s background;
	cursor: pointer;
	border-radius: 5vw;
}
